:root {
  --blue: #4e9af1;
  --red: #f14e4e;
  --orange: #f1bb4e;
  --green: #4ef18f;
  --neutral: #cccccc;
  --white: #fff;
}

.styled-button {
  padding: 0.7em 1.4em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 5px;
  border: 2px solid var(--neutral);
}

.primary {
  background-color: var(--blue);
}
.success {
  background-color: var(--green);
}
.warning {
  background-color: var(--orange);
}
.danger {
  background-color: var(--red);
}
.neutral {
  background-color: var(--white);
  color: rgb(75, 75, 75);
}

.styled-button:active:not(:disabled) {
  top: 0.1em;
}

.styled-button:disabled {
  color: lightgrey;
}

@media all and (max-width: 30em) {
  .styled-button {
    display: block;
    margin: 0.4em auto;
  }
}
